.lot-window {
    border: 2px solid black;
    min-height: 500px;
    width: 500px;
    }
.send {
    width: 500px;
  }
.message{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    background: #e3f2fd;
    }

.container {
   position: absolute;
    top: 30%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
