<div class="row">
{% for course in course_list %}
    <div class="col-md-3">
        <div class="card" style="margin-bottom: 10px; margin-left: 50px; height: 450px; width: 250px;">
            <img src="{{ course.image.url }}" style="max-height: 120px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ course.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> {{ course.description|truncatewords:9 }}</h6>
                <p class="card-text">{{ course.theses|truncatechars:54  }}</p>
                {% if group_list %}
                {% for group in group_list %}
                    <a href="#" class="btn btn-light">{{ group.name }}</a>
                {% endfor %}
                {% else %}
                 {% for group in course.group.all %}
                    <a href="#" class="btn btn-light">{{ group.name }}
                 {% endfor %}
                        {% endif %}
                <a href="{% url 'add_update:course_update' course_id=course.id %}" class="align-self-end btn btn-block btn-outline-secondary" style="margin-top: auto;">Edit</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>