{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}New Course{% endblock title %}

{% block name %}

{% url 'add_update:course_create' as the_url %}

{% if request.get_full_path == the_url %}
Create course
{% else %}
Edit course
{% endif %}

{% endblock name %}

{% block content %}

    <div class="container" >
        <br>
        <form action="." method="post" enctype="multipart/form-data" >{% csrf_token %}
        <table>
            {% bootstrap_form form %}
        </table>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Save</button>
            </td>
        </tr>
            </form>
    </div>

{% endblock %}