<html>
    <head></head>
    <body>
        <form method="post">
            <table>
                <tr>
                    <td>Song</td>
                    <td>
                        <select name="name">
                            <option> ---- </option>
                            {% for song in songs %}
                                <option name="name" >{{ song.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Delete</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>