{% load static %}

<footer id="Footer" class="clearfix">
    <div class="widgets_wrapper" style="padding:0px 0;">
        <div class="container">
            <div class="column one-fifth">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                            <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'content/herbal/images/home_herbal_logo_small.png' %}" width="84" height="34" />
                            </div>
                        </div>
                        <hr class="no_line" style="margin: 0 auto 20px;" />
                        <p style="margin-right: 10%; font-size: 11px;">
                            Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </aside>
            </div>
            <div class="column one-fifth">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <ul style="line-height: 40px; font-weight: 700;">
                            <p>
                            </p>
                            <li>
                                <a href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column one-fifth">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <ul style="line-height: 40px; font-weight: 700;">
                            <p>
                            </p>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column one-fifth">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <ul style="line-height: 40px; font-weight: 700;">
                            <p>
                            </p>
                            <li>
                                <a href="#">Location</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="column one-fifth">
                <aside id="text-6" class="widget widget_text">
                    <div class="textwidget">
                        <p>
                            Follow us:
                        </p><a href="#" class="icon_bar  icon_bar_small"><span class="t"><i class="icon-facebook"></i></span><span class="b"><i class="icon-facebook"></i></span></a><a href="#" class="icon_bar  icon_bar_small"><span class="t"><i class="icon-gplus"></i></span><span class="b"><i class="icon-gplus"></i></span></a><a href="#" class="icon_bar  icon_bar_small"><span class="t"><i class="icon-twitter"></i></span><span class="b"><i class="icon-twitter"></i></span></a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</footer>